.wp-block-create-block-practices.city-block-modifications {
    .wp-block-create-block-practice.practice-single {
        .flex.items-center.w-full.justify-between {
            justify-content: center;
            img {
                height: auto;
                width: 130px;
            }
        }
    }
}