.wp-block-create-block-practice.practice-single {
    .flex.items-center.w-full.justify-between {
        img {
            width: 60px;
            height: 60px;
        }
    }

    svg {
        display: none;
    }
}

